:root {
  --Gray_Blue__Grey_Blue_85: rgba(195, 202, 217, 1);
  --White__White: rgba(255, 255, 255, 1);
  --Gray_Blue__Grey_Blue_50: rgba(77, 94, 128, 1);
  --Gray_Blue__Grey_Blue_70: rgba(125, 143, 179, 1);
  --Gray_Blue__Grey_Blue_80: rgba(173, 184, 204, 1);
  --Gray_Blue__Grey_Blue_60: rgba(107, 122, 153, 1);
  --Pink__Pink: rgba(230, 46, 123, 1);
  --Gray_Blue__Grey_Blue_95: rgba(237, 239, 242, 1);
  --Orange__Orange: rgba(255, 102, 51, 1);
  --Red__Red_40a: rgba(230, 46, 46, 1);
  --Gray_Blue__Grey_Blue_10: rgba(13, 17, 26, 1);
  --Purple__Purple_20a: rgba(136, 51, 255, 1);
  --Orange__Orange_30a: rgba(255, 102, 51, 1);
  --Yellow__Yellow_90a: rgba(255, 203, 51, 1);
  --Gray_Blue__Grey_Blue_98: rgba(247, 248, 250, 1);
  --Gray_Blue__Grey_Blue_90: rgba(218, 222, 230, 1);
  --Green__Green: rgba(41, 204, 57, 1);
  --Purple__Purple: rgba(136, 51, 255, 1);
  --Teal_Blue__Teal_Blue: rgba(51, 191, 255, 1);
  --White__White_50a: rgba(255, 255, 255, 1);
  --Gray_Blue__Grey_Blue_97: rgba(245, 246, 247, 1);
  --Gray_Blue__Grey_Blue_92: rgba(223, 227, 235, 1);
  --Gray_Blue__Grey_Blue_15: rgba(19, 25, 38, 1);
  --Gray_Blue__Grey_Blue_20: rgba(26, 34, 51, 1);
  --Gray_Blue__Grey_Blue_25: rgba(32, 43, 64, 1);
  --Gray_Blue__Grey_Blue_30: rgba(38, 51, 77, 1);
  --Gray_Blue__Grey_Blue_35: rgba(45, 60, 89, 1);
  --Gray_Blue__Grey_Blue_40: rgba(51, 68, 102, 1);
  --Gray_Blue__Grey_Blue_45: rgba(63, 80, 115, 1);
  --Gray_Blue__Grey_Blue_55: rgba(98, 112, 140, 1);
  --Gray_Blue__Grey_Blue_65: rgba(124, 138, 166, 1);
  --Gray_Blue__Grey_Blue_75: rgba(153, 166, 191, 1);
  --Gray_Blue__Grey_Blue_91: rgba(220, 224, 232, 1);
  --Gray_Blue__Grey_Blue_93: rgba(225, 229, 237, 1);
  --Gray_Blue__Grey_Blue_94: rgba(228, 231, 240, 1);
  --Gray_Blue__Grey_Blue_96: rgba(242, 243, 245, 1);
  --Gray_Blue__Grey_Blue_99: rgba(250, 251, 252, 1);
  --Gray_Blue__Grey_Blue_100: rgba(255, 255, 255, 1);
  --Blue__Blue: rgba(51, 97, 255, 1);
  --Red__Red: rgba(230, 46, 46, 1);
  --Bronze__Bronze: rgba(204, 116, 41, 1);
  --Yellow__Yellow: rgba(255, 203, 51, 1);
  --Tiffany__Tiffany: rgba(46, 230, 202, 1);
  --Product_Color__Prodict_Color_1: rgba(205, 218, 187, 1);
  --Product_Color__Prodict_Color_2: rgba(152, 200, 213, 1);
  --Product_Color__Prodict_Color_3: rgba(152, 151, 185, 1);
  --Product_Color__Prodict_Color_4: rgba(180, 190, 208, 1);
  --Product_Color__Product_Color_5: rgba(219, 215, 218, 1);
  --Product_Color__Product_Color_6: rgba(190, 203, 195, 1);
  --Product_Color__Product_Color_7: rgba(219, 224, 189, 1);
  --Product_Color__Product_Color_8: rgba(212, 200, 179, 1);
  --Product_Color__Product_Color_9: rgba(227, 180, 186, 1);
  --Product_Color__Product_Color_10: rgba(208, 204, 229, 1);
  --Product_Color__Product_Color_11: rgba(168, 192, 222, 1);
  --Product_Color__Product_Color_12: rgba(224, 224, 224, 1);
  --Product_Color__Product_Color_13: rgba(229, 222, 204, 1);
  --Product_Color__Product_Color_14: rgba(229, 198, 184, 1);
  --Product_Color__Product_Color_15: rgba(212, 194, 220, 1);
  --Product_Color__Product_Color_16: rgba(139, 157, 196, 1);
  --Product_Color__Product_Color_17: rgba(220, 235, 207, 1);
  --Product_Color__Product_Color_18: rgba(207, 224, 235, 1);
  --Product_Color__Product_Color_18_1: rgba(235, 221, 207, 1);
  --Product_Color__Product_Color_19: rgba(238, 235, 230, 1);
  --Product_Color__Product_Color_17_1: rgba(220, 235, 207, 1);
  --Product_Color__Product_Color_18_2: rgba(207, 224, 235, 1);
  --Product_Color__Product_Color_19_1: rgba(251, 239, 237, 1);
  --Product_Color__Product_Color_20: rgba(219, 231, 224, 1);
  --Black__Black: rgba(0, 0, 0, 1);
  --Product_Color__Starbucks: rgba(16, 110, 51, 1);
  --Product_Color__McDonalds: rgba(206, 42, 29, 1);
  --Product_Color__Background: rgba(0, 40, 129, 1);
  --Blue__Blue_Dark_1: rgba(25, 77, 255, 1);
  --Blue__Blue_Dark_2: rgba(0, 57, 255, 1);
  --Blue__Blue_Light_1: rgba(77, 116, 255, 1);
  --Blue__Blue_Light_2: rgba(102, 136, 255, 1);
  --Orange__Orange_Dark_1: rgba(230, 75, 23, 1);
  --Orange__Orange_Dark_2: rgba(204, 67, 20, 1);
  --Orange__Orange_Light_1: rgba(255, 121, 77, 1);
  --Orange__Orange_Light_2: rgba(255, 141, 102, 1);
  --Purple__Purple_Dark_1: rgba(121, 25, 255, 1);
  --Purple__Purple_Dark_2: rgba(106, 0, 255, 1);
  --Purple__Purple_Light_1: rgba(151, 77, 255, 1);
  --Purple__Purple_Light_2: rgba(166, 102, 255, 1);
  --Red__Red_Dark_1: rgba(204, 20, 20, 1);
  --Red__Red_Dark_2: rgba(178, 0, 0, 1);
  --Red__Red_Light_1: rgba(242, 73, 73, 1);
  --Red__Red_Light_2: rgba(255, 102, 102, 1);
  --Yellow__Yellow_Dark_1: rgba(230, 177, 23, 1);
  --Yellow__Yellow_Dark_2: rgba(217, 162, 0, 1);
  --Yellow__Yellow_Light_1: rgba(255, 213, 89, 1);
  --Yellow__Yellow_Light_2: rgba(255, 213, 89, 1);
  --Green__Green_Dark_1: rgba(19, 191, 36, 1);
  --Green__Green_Dark_2: rgba(0, 178, 17, 1);
  --Green__Green_Light_1: rgba(69, 230, 85, 1);
  --Green__Green_Light_2: rgba(102, 255, 117, 1);
  --Teal_Blue__Teal_Blue_Dark_1: rgba(23, 165, 230, 1);
  --Teal_Blue__Teal_Blue_Dark_2: rgba(0, 140, 204, 1);
  --Teal_Blue__Teal_Blue_Light_1: rgba(77, 199, 255, 1);
  --Teal_Blue__Teal_Blue_Light_2: rgba(102, 207, 255, 1);
  --Pink__Pink_Dark_1: rgba(217, 22, 104, 1);
  --Pink__Pink_Dark_2: rgba(204, 0, 86, 1);
  --Pink__Pink_Light_1: rgba(242, 73, 144, 1);
  --Pink__Pink_Light_2: rgba(255, 102, 166, 1);
  --Bronze__Bronze_Dark_1: rgba(179, 92, 18, 1);
  --Bronze__Bronze_Dark_2: rgba(153, 71, 0, 1);
  --Bronze__Bronze_Light_1: rgba(217, 135, 65, 1);
  --Bronze__Bronze_Light_2: rgba(230, 155, 92, 1);
  --Tiffany__Tiffany_Dark_1: rgba(20, 204, 176, 1);
  --Tiffany__Tiffany_Dark_2: rgba(0, 179, 151, 1);
  --Tiffany__Tiffany_Light_1: rgba(73, 242, 216, 1);
  --Tiffany__Tiffany_Light_2: rgba(102, 255, 232, 1);
  --Blue__Blue_90a: rgba(51, 97, 255, 1);
  --Blue__Blue_80a: rgba(51, 97, 255, 1);
  --Blue__Blue_70a: rgba(51, 97, 255, 1);
  --Blue__Blue_60a: rgba(51, 97, 255, 1);
  --Blue__Blue_50a: rgba(51, 97, 255, 1);
  --Blue__Blue_40a: rgba(51, 97, 255, 1);
  --Blue__Blue_30a: rgba(51, 97, 255, 1);
  --Blue__Blue_20a: rgba(51, 97, 255, 1);
  --Blue__Blue_10a: rgba(51, 97, 255, 1);
  --Blue__Blue_5a: rgba(51, 97, 255, 1);
  --Orange__Orange_90a: rgba(255, 102, 51, 1);
  --Orange__Orange_80a: rgba(255, 102, 51, 1);
  --Orange__Orange_70a: rgba(255, 102, 51, 1);
  --Orange__Orange_60a: rgba(255, 102, 51, 1);
  --Orange__Orange_50a: rgba(255, 102, 51, 1);
  --Orange__Orange_40a: rgba(255, 102, 51, 1);
  --Orange__Orange_20a: rgba(255, 102, 51, 1);
  --Orange__Orange_10a: rgba(255, 102, 51, 1);
  --Orange__Orange_5a: rgba(255, 102, 51, 1);
  --Purple__Purple_90a: rgba(136, 51, 255, 1);
  --Purple__Purple_80a: rgba(136, 51, 255, 1);
  --Purple__Purple_70a: rgba(136, 51, 255, 1);
  --Purple__Purple_60a: rgba(136, 51, 255, 1);
  --Purple__Purple_50a: rgba(136, 51, 255, 1);
  --Purple__Purple_40a: rgba(136, 51, 255, 1);
  --Purple__Purple_30a: rgba(136, 51, 255, 1);
  --Purple__Purple_10a: rgba(136, 51, 255, 1);
  --Purple__Purple_5a: rgba(136, 51, 255, 1);
  --Red__Red_90a: rgba(230, 46, 46, 1);
  --Red__Red_80a: rgba(230, 46, 46, 1);
  --Red__Red_70a: rgba(230, 46, 46, 1);
  --Red__Red_60a: rgba(230, 46, 46, 1);
  --Red__Red_50a: rgba(230, 46, 46, 1);
  --Red__Red_30a: rgba(230, 46, 46, 1);
  --Red__Red_20a: rgba(230, 46, 46, 1);
  --Red__Red_10a: rgba(230, 46, 46, 1);
  --Red__Red_5a: rgba(230, 46, 46, 1);
  --Yellow__Yellow_80a: rgba(255, 203, 51, 1);
  --Yellow__Yellow_70a: rgba(255, 203, 51, 1);
  --Yellow__Yellow_60a: rgba(255, 203, 51, 1);
  --Yellow__Yellow_50a: rgba(255, 203, 51, 1);
  --Yellow__Yellow_40a: rgba(255, 203, 51, 1);
  --Yellow__Yellow_30a: rgba(255, 203, 51, 1);
  --Yellow__Yellow_20a: rgba(255, 203, 51, 1);
  --Yellow__Yellow_10a: rgba(255, 203, 51, 1);
  --Yellow__Yellow_5a: rgba(255, 203, 51, 1);
  --Green__Green_90a: rgba(41, 204, 57, 1);
  --Green__Green_80a: rgba(41, 204, 57, 1);
  --Green__Green_70a: rgba(41, 204, 57, 1);
  --Green__Green_60a: rgba(41, 204, 57, 1);
  --Green__Green_50a: rgba(41, 204, 57, 1);
  --Green__Green_40a: rgba(41, 204, 57, 1);
  --Green__Green_30a: rgba(41, 204, 57, 1);
  --Green__Green_20a: rgba(41, 204, 57, 1);
  --Green__Green_10a: rgba(41, 204, 57, 1);
  --Green__Green_5a: rgba(41, 204, 57, 1);
  --Teal_Blue__Teal_Blue_90a: rgba(51, 191, 255, 1);
  --Teal_Blue__Teal_Blue_80a: rgba(51, 191, 255, 1);
  --Teal_Blue__Teal_Blue_70a: rgba(51, 191, 255, 1);
  --Teal_Blue__Teal_Blue_60a: rgba(51, 191, 255, 1);
  --Teal_Blue__Teal_Blue_50a: rgba(51, 191, 255, 1);
  --Teal_Blue__Teal_Blue_40a: rgba(51, 191, 255, 1);
  --Teal_Blue__Teal_Blue_30a: rgba(51, 191, 255, 1);
  --Teal_Blue__Teal_Blue_20a: rgba(51, 191, 255, 1);
  --Teal_Blue__Teal_Blue_10a: rgba(51, 191, 255, 1);
  --Teal_Blue__Teal_Blue_5a: rgba(51, 191, 255, 1);
  --Pink__Pink_90a: rgba(230, 46, 123, 1);
  --Pink__Pink_80a: rgba(230, 46, 123, 1);
  --Pink__Pink_70a: rgba(230, 46, 123, 1);
  --Pink__Pink_60a: rgba(230, 46, 123, 1);
  --Pink__Pink_50a: rgba(230, 46, 123, 1);
  --Pink__Pink_40a: rgba(230, 46, 123, 1);
  --Pink__Pink_30a: rgba(230, 46, 123, 1);
  --Pink__Pink_20a: rgba(230, 46, 123, 1);
  --Pink__Pink_10a: rgba(230, 46, 123, 1);
  --Pink__Pink_5a: rgba(230, 46, 123, 1);
  --Bronze__Bronze_90a: rgba(204, 116, 41, 1);
  --Bronze__Bronze_80a: rgba(204, 116, 41, 1);
  --Bronze__Bronze_70a: rgba(204, 116, 41, 1);
  --Bronze__Bronze_60a: rgba(204, 116, 41, 1);
  --Bronze__Bronze_50a: rgba(204, 116, 41, 1);
  --Bronze__Bronze_40a: rgba(204, 116, 41, 1);
  --Bronze__Bronze_30a: rgba(204, 116, 41, 1);
  --Bronze__Bronze_20a: rgba(204, 116, 41, 1);
  --Bronze__Bronze_10a: rgba(204, 116, 41, 1);
  --Bronze__Bronze_5a: rgba(204, 116, 41, 1);
  --Tiffany__Tiffany_90a: rgba(46, 230, 202, 1);
  --Tiffany__Tiffany_80a: rgba(46, 230, 202, 1);
  --Tiffany__Tiffany_70a: rgba(46, 230, 202, 1);
  --Tiffany__Tiffany_60a: rgba(46, 230, 202, 1);
  --Tiffany__Tiffany_50a: rgba(46, 230, 202, 1);
  --Tiffany__Tiffany_40a: rgba(46, 230, 202, 1);
  --Tiffany__Tiffany_30a: rgba(46, 230, 202, 1);
  --Tiffany__Tiffany_20a: rgba(46, 230, 202, 1);
  --Tiffany__Tiffany_10a: rgba(46, 230, 202, 1);
  --Tiffany__Tiffany_5a: rgba(46, 230, 202, 1);
  --Black__Black_90a: rgba(0, 0, 0, 1);
  --Black__Black_80a: rgba(0, 0, 0, 1);
  --Black__Black_70a: rgba(0, 0, 0, 1);
  --Black__Black_60a: rgba(0, 0, 0, 1);
  --Black__Black_50a: rgba(0, 0, 0, 1);
  --Black__Black_40a: rgba(0, 0, 0, 1);
  --Black__Black_30a: rgba(0, 0, 0, 1);
  --Black__Black_20a: rgba(0, 0, 0, 1);
  --Black__Black_10a: rgba(0, 0, 0, 1);
  --Black__Black_5a: rgba(0, 0, 0, 1);
  --White__White_90a: rgba(255, 255, 255, 1);
  --White__White_80a: rgba(255, 255, 255, 1);
  --White__White_70a: rgba(255, 255, 255, 1);
  --White__White_60a: rgba(255, 255, 255, 1);
  --White__White_40a: rgba(255, 255, 255, 1);
  --White__White_30a: rgba(255, 255, 255, 1);
  --White__White_20a: rgba(255, 255, 255, 1);
  --White__White_10a: rgba(255, 255, 255, 1);
  --White__White_5a: rgba(255, 255, 255, 1);
  --Grey_Blue_85: rgba(195, 202, 217, 1);
}
