:root {
  --Bold__Bold_18: 700 18px/30px 'Roboto';
  --Bold__Bold_13: 700 13px/25px 'Roboto';
  --Bold__Bold_12: 700 12px/20px 'Roboto';
  --Black__Black_12: 900 12px/20px 'Roboto';
  --Bold__Bold_16: 700 16px/30px 'Roboto';
  --Bold__Bold_14: 700 14px/30px 'Roboto';
  --Black__Black_13: 900 13px/25px 'Roboto';
  --Black__Black_10: 900 10px/20px 'Roboto';
  --Black__Black_64: 900 64px/90px 'Roboto';
  --Black__Black_48: 900 48px/70px 'Roboto';
  --Black__Black_36: 900 36px/60px 'Roboto';
  --Black__Black_30: 900 30px/50px 'Roboto';
  --Black__Black_24: 900 24px/30px 'Roboto';
  --Black__Black_22: 900 22px/30px 'Roboto';
  --Black__Black_20: 900 20px/30px 'Roboto';
  --Black__Black_18: 900 18px/30px 'Roboto';
  --Black__Black_16: 900 16px/30px 'Roboto';
  --Black__Black_15: 900 15px/30px 'Roboto';
  --Black__Black_14: 900 14px/30px 'Roboto';
  --Black__Black_8: 900 8px/20px 'Roboto';
  --Medium__Medium_64: 500 64px/90px 'Roboto';
  --Medium__Medium_48: 500 48px/70px 'Roboto';
  --Medium__Medium_36: 500 36px/60px 'Roboto';
  --Medium__Medium_30: 500 30px/50px 'Roboto';
  --Medium__Medium_24: 500 24px/30px 'Roboto';
  --Medium__Medium_22: 500 22px/30px 'Roboto';
  --Medium__Medium_20: 500 20px/30px 'Roboto';
  --Medium__Medium_18: 500 18px/30px 'Roboto';
  --Medium__Medium_16: 500 16px/30px 'Roboto';
  --Medium__Medium_15: 500 15px/30px 'Roboto';
  --Medium__Medium_14: 500 14px/30px 'Roboto';
  --Medium__Medium_13: 500 13px/25px 'Roboto';
  --Medium__Medium_12: 500 12px/20px 'Roboto';
  --Medium__Medium_10: 500 10px/20px 'Roboto';
  --Medium__Medium_8: 500 8px/20px 'Roboto';
  --Regular__Regular_64: 400 64px/90px 'Roboto';
  --Regular__Regular_48: 400 48px/70px 'Roboto';
  --Regular__Regular_36: 400 36px/60px 'Roboto';
  --Regular__Regular_30: 400 30px/50px 'Roboto';
  --Regular__Regular_24: 400 24px/30px 'Roboto';
  --Regular__Regular_22: 400 22px/30px 'Roboto';
  --Regular__Regular_20: 400 20px/30px 'Roboto';
  --Regular__Regular_18: 400 18px/30px 'Roboto';
  --Regular__Regular_16: 400 16px/30px 'Roboto';
  --Regular__Regular_15: 400 15px/30px 'Roboto';
  --Regular__Regular_14: 400 14px/30px 'Roboto';
  --Regular__Regular_13: 400 13px/25px 'Roboto';
  --Regular__Regular_12: 400 12px/20px 'Roboto';
  --Regular__Regular_10: 400 10px/20px 'Roboto';
  --Regular__Regular_8: 400 8px/20px 'Roboto';
  --Bold__Bold_64: 700 64px/90px 'Roboto';
  --Bold__Bold_48: 700 48px/70px 'Roboto';
  --Bold__Bold_36: 700 36px/60px 'Roboto';
  --Bold__Bold_30: 700 30px/50px 'Roboto';
  --Bold__Bold_22: 700 22px/30px 'Roboto';
  --Bold__Bold_20: 700 20px/30px 'Roboto';
  --Bold__Bold_15: 700 15px/30px 'Roboto';
  --Bold__Bold_10: 700 10px/20px 'Roboto';
  --Bold__Bold_8: 700 8px/20px 'Roboto';
  --Light__Light_64: 300 64px/90px 'Roboto';
  --Light__Light_48: 300 48px/70px 'Roboto';
  --Light__Light_36: 300 36px/60px 'Roboto';
  --Light__Light_30: 300 30px/50px 'Roboto';
  --Light__Light_24: 300 24px/30px 'Roboto';
  --Light__Light_22: 300 22px/30px 'Roboto';
  --Light__Light_20: 300 20px/30px 'Roboto';
  --Light__Light_18: 300 18px/30px 'Roboto';
  --Light__Light_16: 300 16px/30px 'Roboto';
  --Light__Light_15: 300 15px/30px 'Roboto';
  --Light__Light_14: 300 14px/30px 'Roboto';
  --Light__Light_13: 300 13px/25px 'Roboto';
  --Light__Light_12: 300 12px/20px 'Roboto';
  --Light__Light_10: 300 10px/20px 'Roboto';
  --Light__Light_8: 300 8px/20px 'Roboto';
  --Bold__Bold_24: 700 24px/30px 'Roboto';
  --Black_12: 900 12px/20px 'Roboto';
}
